<ul>
    Real value: {{.}}
    Double value: {{. | funDouble}}
    Double and square: {{. | funDouble | funSquare}}
    Square and root: {{. | funSquare | funSquareRoot}}
    Double, square and root: {{. | funDouble | funSquare | funSquareRoot}}
    Real value: {{.}}
</ul>